<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
<article>
    <header></header>
    <h1></h1>
    <h2></h2>
    <figure>
      <img src="{{img-source}}" alt="{{img-alt}}" width="{{width}}" height="{{height}}">
    </figure>
    <div>
        {{{content}}}
    </div>
</article>
</body>
</html>